.ddr-detail {
  .collapse-list {
    font-weight: bold;
    font-size: 1.2em;

    a {
      color: inherit
    }

    a.collapsed::after {
      content: '+';
    }
    a::after {
      content: '-';
    }

  }
}

@media (min-width: 768px) {

  .ddr-detail {
    .dl-horizontal{

      dt {
        width: 110px;
      }
      dd {
        margin-left: 130px;
      }
    }
  }
}
