@import "variables";

@import "../vendors/bootstrap-sass/lib/mixins";
@import "../vendors/bootstrap-sass/lib/normalize";
@import "../vendors/bootstrap-sass/lib/scaffolding";
@import "../vendors/bootstrap-sass/lib/type";
@import "../vendors/bootstrap-sass/lib/grid";
@import "../vendors/bootstrap-sass/lib/tables";
@import "../vendors/bootstrap-sass/lib/forms";
@import "../vendors/bootstrap-sass/lib/buttons";
@import "../vendors/bootstrap-sass/lib/component-animations";
@import "../vendors/bootstrap-sass/lib/input-groups";
@import "../vendors/bootstrap-sass/lib/navs";
@import "../vendors/bootstrap-sass/lib/navbar";
@import "../vendors/bootstrap-sass/lib/panels";
@import "../vendors/bootstrap-sass/lib/utilities";
@import "../vendors/bootstrap-sass/lib/responsive-utilities";
@import "../vendors/bootstrap-sass/lib/dropdowns";
@import "../vendors/bootstrap-sass/lib/glyphicons";
@import "../vendors/bootstrap-sass/lib/alerts";
@import "../vendors/bootstrap-sass/lib/close";

@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Titillium+Web);

@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin navbar-brand ($alignment) {
  .navbar-brand {
    float: $alignment;
    display: block;
    text-indent: -9999px;
    width: 131px;
    height: 60px;
    background: url($sprite) -180px 0;
    margin: 0 20px 0 0 !important;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, ng\:form {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
tr:nth-child(even) {
     background-color: #eeeeff;
}
ul{
    list-style-type: none;
    padding-left:0px;
}

body {
  font-family: 'Lato', sans-serif;
  color: $font-color;
  font-size: 12px;
  padding-top: 60px;
  background-color: $gray;

  h1, h2, h3 {
    font-family: 'Titillium Web', sans-serif;
  }

  a {
    &:hover {
    }
  }

  a[ng-click]:hover {
    cursor: pointer;
  }

  dl {
    font-size: 1.2em;

    dt {
    }

    dd {
      margin-bottom: 15px;
    }
  }

  pre{
    background: $black;
    color: $pink;
    padding: 10px;
    overflow: auto;

    b {
      color: $white;
      font-weight: normal;
    }
  }
}

//body article {
//  background-color: $gray;
//  height: 100%;
//  min-height: 100%;
//  overflow: hidden;
//}

.navbar {
  min-height: 60px;
  background-color: $white;
  border: none;
  z-index: 500;
  border-bottom: 2px solid $pink;

  @include navbar-brand(left);

  .navbar-nav {
    line-height: 1em;
    margin: 0;
    min-height: 60px;
    padding: 0;

    li {
      a {
        height: 60px;
        display: block;
        padding: 20px 4px 0 4px;
        margin: 0;
        font-size: 1.15em;
        color: $dark-gray;
        background-color: none;

        &:hover {
          text-decoration: none;
          color: $pink;
          background-color: none;
          cursor: pointer;
        }
      }

      .active {
        color: $pink;
        text-decoration: none;
        background-color: none;
      }
    }
  }

  .navbar-toggle {
    border: 1px solid $pink;
    background-color: $white;
    margin-top: 15px;

    &:hover {
      background-color: $pink;

      .icon-bar {
        background-color: $white;
      }
    }

    .icon-bar {
      background-color: $pink;
    }
  }
}

.btn-primary {
  @include border-radius(0);

  border: none;
  padding: 10px 20px;
  background-color: $blue;
  color: $button-color;

  &:hover {
    background-color: $blue;
    color: $button-color;
  }
}

.btn-primary.disabled {
  background-color: $gray;
}

.btn-link {
  color: $blue;
  text-decoration: underline;
}

#wrap {
}

.boxed {
  margin: 120px 0 0 0;
  border: 10px solid rgba(226, 31, 141, 0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  @include border-radius(10px);

  .panel-heading {
    background-color: $white;
    position: relative;
    min-height: 72px;

    h3 {
      min-height: 23px;
      background: url(../images/red-bullet.png) no-repeat;
      margin-top: 0;
      padding-left: 22px;
    }

    p {
      display: inline-block;
      float: left;
    }
  }

  .panel-body {
    background-color: $box-gray;
    border: none;

    form {
      padding: 0 25px;
    }

    label {
      margin: 0;
    }
  }

  .panel-footer {
    background-color: $white;
  }
}

@mixin background-cover ($image) {
  background: url($image) no-repeat 100% 100% fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.register-0 {
  @include background-cover('../images/bg-registration-1.jpg');
}

.register-1 {
  @include background-cover('../images/bg-registration-2.jpg');
}

.register-2 {
  @include background-cover('../images/bg-registration-2.jpg');
}

.register-3 {
  @include background-cover('../images/bg-registration-3.jpg');
}

#register-step-1 {
  .panel-icon {
    height: 72px;
    width: 72px;
    background: url($sprite) -360px -216px no-repeat;
    position: absolute;
    top: 0;
    right: 0;
  }
}

#register-step-2, #register-step-3 {
  dl {
    min-height: 111px;
    background: url($sprite) -576px -288px no-repeat;
    padding-left: 75px;
  }
}

@mixin register-step-indicator ($x, $y) {
  .panel-icon {
    height: 25px;
    width: 140px;
    background: url($sprite) $x $y no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

#register-step-2 {
  @include register-step-indicator(0px, -288px);
}

#register-step-3 {
  @include register-step-indicator(-144px, -288px);
}

#register-step-4 {
  @include register-step-indicator(-288px, -288px);
}

#register {
  .panel-heading {
    background: url($sprite) no-repeat -324px 0 center right;
  }
}








#sub-header {
  min-height: 4em;
  background-color: $pink;
  color: $white;

  p {
    margin-top: 1.3em;
  }

  ul {
    margin: 15px 0 0 15px;

    li {
      a {
        color: $white;
      }
    }
  }
}

#toolbar {
  padding: 1em;
}

#info-box {
  background-color: #eeeeff;
  padding: 2em;
}

#widgets {

  .widget {

    .inner {
      background-color: white;
      margin: 1em !important;

      header {
        overflow: hidden;

        h2 {
          float: left;
          padding: .5em;
          padding-bottom: 0 !important;
        }

        span {
          padding: .5em;
          margin-left: .5em !important;
        }

        button, select {
          float: right;
          margin: 25px 10px 0 0;
        }

        select {
          width: 200px;
        }
      }

      section {
        padding: 1em;
        background-color: #eeeeff;
      }

      table {
        background-color: white
      }

      .form-inline {
        .form-group {
          margin-right: 15px;
        }
      }
    }
  }

  .widget-left {
    margin-right: 0 !important;
  }

  .widget-right {
    margin-left: 0 !important;
  }
}



hr {
  border-bottom: 1px solid $light-gray;
}



@media (max-width: 480px) {
  .boxed {
    .panel-body {
      form {
        padding: 0 !important;
      }
    }
  }
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
}

@media (min-width: 480px) and (max-width: 979px) {
}

@media (max-width: 979px) {
}

@media (min-width: 980px) {
}

@media (min-width: 1200px) {
}
