.ddr-detail {
  .collapse-list {
    font-weight: bold;
    font-size: 1.2em;

    a {
      color: inherit
    }

    a.collapsed::after {
      content: '+';
    }
    a::after {
      content: '-';
    }

  }

  // increase hit target while maintaining style
  .panel-heading {
    padding: 0 0;

    .row {
      padding: 10px 15px;
    }
  }

  pre {
    background-color: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
  }

  .panel-heading a{
    color: inherit;
  }

  .panel-body dl{
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {

  .ddr-detail {
    .dl-horizontal{

      dt {
        width: 130px;
      }
      dd {
        margin-left: 140px;
      }
    }
  }
}
