.ddr-detail {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;

  .collapse-list {
    font-weight: bold;
    font-size: 1.2em;

    a {
      color: inherit
    }

    a.collapsed::after {
      content: '+';
    }
    a::after {
      content: '-';
    }

  }

  .child-logs-collapsible {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2em;
  }

  .panel-heading {
    .panel-title {
      font-size: 14px;
    }

    // increase hit target while maintaining style
    padding: 0 0;
    .row {
      padding: 10px 15px;
    }
  }

  pre {
    background-color: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
  }

  .panel-heading a{
    color: inherit;
  }

  .panel-body dl{
    margin-bottom: 15px;
  }
}

.logs-table {
  table-layout: fixed;

  .row-date {
    width: 20%;
  }
  .row-type {
    width: 15%;
  }
  .row-adapter {
    width: 15%;
  }
  .row-from {
    width: 20%;
  }
  .row-to {
    width: 30%;
  }

  .td-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.log-filters.disable-ms-clear input::-ms-clear {
    display: none;
}


@media (min-width: 768px) {

  .ddr-detail {
    .dl-horizontal{

      dt {
        width: 130px;
      }
      dd {
        margin-left: 140px;
      }
    }
  }
}
