<navbar></navbar>
<div id="wrap">
  <div class="container-fluid">
    <section id="dashboard">
      <div class="container-fluid">
        <div id="widgets" class="row">
          <div class="col-md-6">
            <div class="widget widget-left">
              <div class="inner">
                <header>
                  <h2>API Keys</h2>
                </header>
                <section>
                  <form role="form"></form>
                  <div class="form-group">
                    <label for="accountID">Account ID</label>
                    <input id="publicKey" type="text" readonly="readonly" ng-model="user.id" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="userKey">Your key</label>
                    <div class="input-group">
                      <input id="userKey" type="{{keyRevealTypeString}}" readonly="readonly" ng-model="user.refreshToken" class="form-control"><span class="input-group-btn">
                        <button type="button" ng-click="toggleKeyReveal()" class="btn btn-default">{{keyButtonString}}</button></span>
                    </div>
                    <div class="help-block">Please do not share your private key with other people.</div>
                  </div>
                </section>
              </div>
            </div>
            <div class="widget widget-left">
              <div class="inner">
                <header>
                  <h2>Debugger</h2>
                </header>
                <section>
                  <p ng-show="loading.logs">Loading logs..</p>
                  <article ng-hide="loading.logs">
                    <p>There are <strong>{{logs.length}}</strong> SEVERE logs.</p>
                    <div id="accordion" class="panel-group">
                      <div ng-repeat="log in logs" class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{log.logId}}">{{log.timestamp | parseTimeStamp}} - {{log | translateAdapterType}}</a></h4>
                        </div>
                        <div id="collapse-{{log.logId}}" class="panel-collapse collapse {{($first) &amp;&amp; &quot;in&quot;}}">
                          <div class="panel-body">{{log.message}}</div>
                        </div>
                      </div>
                    </div>
                  </article>
                </section>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="widget widget-right">
              <div class="inner">
                <header>
                  <h2>API Docs</h2>
                </header>
                <section>
                  <h4>Ask Fast API:</h4>
                  <p>Host your own questions and answers- high customization,</p><a href="http://docs.askfast.apiary.io/" target="_blank" class="btn btn-default">Ask Fast API</a>
                  <hr>
                  <h4>Ask Fast Marketplace</h4>
                  <p>
                    We host your questions and answers,
                    very easy to use and integrate
                  </p><a href="http://docs.askfastmarketplace.apiary.io/" target="_blank" class="btn btn-default">Ask Fast Marketplace</a>
                </section>
              </div>
            </div>
            <div class="widget widget-right">
              <div class="inner">
                <header>
                  <h2>Example</h2>
                </header>
                <section>
                  <div ng-show="alert != null" role="alert" class="alert alert-warning alert-dismissible fade in"> 
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>{{alert}}
                  </div>
                  <h4>Send an SMS</h4>
                  <example-form subject="SMS" action="Send" on-submit="sendSMS" dialogs="dialogs" adapters="smsAdapters"></example-form>
                  <hr>
                  <h4>Start a phone call</h4>
                  <example-form subject="Call" action="Start" on-submit="startCall" dialogs="dialogs" adapters="phoneAdapters"></example-form>
                  <pre ng-show="request != null">{{request}}</pre>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>