<navbar></navbar>
<div id="wrap">
  <div class="container-fluid">
    <section id="developer">
      <div class="container-fluid">
        <div id="sub-header" class="row">
          <div class="col-md-12">
            <ul class="list-inline">
              <li><a ng-click="vm.setSection(&quot;adapters&quot;)">Adapters</a></li>
              <li><a ng-click="vm.setSection(&quot;dialogs&quot;)">Dialogs</a></li>
            </ul>
          </div>
        </div>
        <div id="toolbar" class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2 text-right"></div>
        </div>
        <section ng-switch="" on="vm.currentSection">
          <div id="widgets" ng-switch-when="adapters" class="row">
            <div class="col-md-12">
              <div class="widget">
                <div class="inner">
                  <header>
                    <h2>Adapters</h2>
                    <select ng-model="vm.adapterType" ng-change="vm.Adapter.query(vm.adapterType)" class="form-control">
                      <option value="" selected="selected">Add a new adapter</option>
                      <option value="email">Email</option>
                      <option value="call">Phone</option>
                      <option value="sms">SMS</option>
                      <option value="xmpp">Gtalk</option>
                      <option value="twitter">Twitter</option>
                    </select>
                  </header>
                  <section>
                    <article ng-show="vm.adapterType">
                      <h3>Available adapters</h3>
                      <p ng-hide="vm.freeAdapters.length &gt; 0">There are not any available adapter for this type.</p>
                      <table ng-show="vm.freeAdapters.length &gt; 0" class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Adapter</th>
                            <th>Type</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="adapter in vm.freeAdapters">
                            <td>{{adapter | translateAdapterAddress}}</td>
                            <td>{{adapter | translateAdapterType}}</td>
                            <td>
                              <button ng-click="vm.Adapter.add(adapter)" class="btn btn-default btn-sm">Add to your account</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <hr>
                    </article>
                    <h3>Your adapters</h3>
                    <p ng-hide="vm.adapters.length &gt; 0">There are not any adapters for your account.</p>
                    <table ng-show="vm.adapters.length &gt; 0" class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Adapter</th>
                          <th>Type</th>
                          <!--th Usage-->
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="adapter in vm.adapters">
                          <td>{{adapter.configId}}</td>
                          <td>{{adapter | translateAdapterAddress}}</td>
                          <td>{{adapter | translateAdapterType}}</td>
                          <!--td --->
                          <td>
                            <button ng-click="Adapter.remove(adapter)" class="btn btn-default btn-sm">Remove adapter</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <div id="widgets" ng-switch-when="addDialog" class="row">
            <div class="col-md-12">
              <div class="widget">
                <div class="inner">
                  <header>
                    <h2>Add a new dialog</h2>
                  </header>
                  <section>
                    <form role="form" name="forms.addDialog" ng-submit="vm.Dialog.add(vm.dialog)">
                      <div class="row">
                        <div class="form-group col-lg-6 col-md-8 {{forms.addDialog.name.$invalid &amp;&amp; forms.addDialog.name.$dirty &amp;&amp; &quot;has-error&quot;}}">
                          <input type="text" name="name" ng-model="vm.dialog.form.name" placeholder="Dialog name" required="required" class="form-control">
                          <p><span ng-show="forms.addDialog.name.$error.required &amp;&amp; forms.addDialog.name.$dirty" class="text-danger">A name is required to make a new dialog.</span></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-lg-6 col-md-8 {{forms.addDialog.url.$invalid &amp;&amp; forms.addDialog.url.$dirty &amp;&amp; &quot;has-error&quot;}}">
                          <input type="url" name="url" ng-model="vm.dialog.form.url" placeholder="URL for dialog" required="required" class="form-control">
                          <p><span ng-show="forms.addDialog.url.$error.required &amp;&amp; forms.addDialog.url.$dirty" class="text-danger">A URL is required to make a new dialog.</span><span ng-show="forms.addDialog.url.$error.url" class="text-danger">The entered URL isn't valid.</span></p>
                        </div>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-default">Create dialog</button>
                      </div><a ng-click="vm.setSection(&quot;dialogs&quot;)">&nbsp; or go back to the list.</a>
                    </form>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <div id="widgets" ng-switch-when="dialogs" class="row">
            <div class="col-md-12">
              <div class="widget widget-right">
                <div class="inner">
                  <header>
                    <h2>Dialogs</h2>
                    <button type="button" ng-click="vm.setSection(&quot;addDialog&quot;)" class="btn btn-default">Add a dialog</button>
                  </header>
                  <section>
                    <div class="row">
                      <div class="col-md-3">
                        <p ng-hide="vm.loadingDialogs">Hold on dialogs are loading...</p>
                        <p ng-show="vm.dialogs.length &lt; 1">There are no dialogs yet. Please add one.</p>
                        <ul ng-hide="vm.dialogs.length &lt; 1" class="nav nav-pills nav-stacked">
                          <li ng-repeat="_dialog in vm.dialogs" class="{{(_dialog.id == vm.dialog.id) &amp;&amp; &quot;active&quot;}}"><a ng-click="vm.Dialog.open(_dialog)">{{_dialog.name}}</a></li>
                        </ul>
                      </div>
                      <div ng-show="vm.dialogs.length &lt; 1" class="col-md-9"></div>
                      <div ng-hide="vm.dialogs.length &lt; 1" class="col-md-9">
                        <div class="row">
                          <div class="col-md-6">
                            <form name="forms.details">
                              <fieldset>
                                <legend>Details</legend>
                                <div class="form-group">
                                  <label>Dialog Id</label>
                                  <div class="row">
                                    <div class="col-md-9">
                                      <input ng-model="vm.dialog.id" readonly="readonly" class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label>Name</label>
                                  <div class="row">
                                    <div class="col-md-9">
                                      <input ng-model="vm.dialog.name" class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label>URL</label>
                                  <input ng-model="vm.dialog.url" class="form-control">
                                </div>
                                <div class="form-group">
                                  <button ng-click="vm.Dialog.updateDetails(vm.dialog)" class="btn btn-default">Update details</button>
                                </div>
                              </fieldset>
                            </form>
                          </div>
                          <div class="col-md-4">
                            <form name="forms.auth">
                              <fieldset>
                                <legend>Authentication <span ng-show="vm.dialog.useBasicAuth" class="small text-primary">&nbsp;enabled</span></legend>
                                <p>If desired, you can set Basic Authentication credentials for this dialog.</p>
                                <p ng-show="vm.dialogAuth.message" class="{{(vm.dialogAuth.messageType) &amp;&amp; 'text-' + vm.dialogAuth.messageType}}">{{vm.dialogAuth.message}}</p>
                                <div ng-hide="vm.dialogAuth.open">
                                  <div class="form-group">
                                    <button ng-click="vm.dialogAuth.open = true" class="btn btn-default">Configure</button>
                                  </div>
                                </div>
                                <div ng-show="vm.dialogAuth.open">
                                  <div class="form-group">
                                    <label>Username</label>
                                    <input name="username" ng-model="vm.dialog.userName" class="form-control">
                                  </div>
                                  <div class="form-group">
                                    <label>Password</label>
                                    <input name="password" ng-model="vm.dialog.password" type="password" class="form-control">
                                  </div>
                                  <div class="form-groups">
                                    <button ng-click="vm.authenticateDialog(vm.dialog)" class="btn btn-default">{{(vm.dialog.useBasicAuth) && 'Update' || 'Enable'}}</button>
                                    <button ng-click="vm.cancelAuthentication(vm.dialog)" class="btn btn-default">Cancel</button>
                                    <button ng-click="vm.disableDialogAuthentication(vm.dialog)" ng-show="vm.dialog.useBasicAuth" class="btn btn-danger pull-right">Disable</button>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </div>
                          <div class="col-md-2">
                            <button ng-click="vm.Dialog.remove(vm.dialog)" class="btn btn-default btn-danger pull-right">Delete dialog</button>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-10">
                            <form name="forms.adapters" role="form">
                              <fieldset>
                                <legend>Adapters</legend>
                                <div class="row">
                                  <div class="form-group col-sm-5 col-lg-4">
                                    <label>Type</label>
                                    <select ng-model="vm.channel.type" ng-change="vm.channelTypeSelected()" class="form-control">
                                      <option ng-repeat="type in vm.types" value="{{type}}">{{type}}</option>
                                    </select><span class="help-block">Please select a type first</span>
                                  </div>
                                  <div ng-hide="(vm.channel.type == null)" class="form-group col-sm-7">
                                    <label>Adapter</label>
                                    <p ng-hide="vm.candidates.length &gt; 0">There are sadly no adapters for this one.</p>
                                    <select ng-model="vm.channel.adapter" ng-show="vm.candidates.length &gt; 0" class="form-control">
                                      <option ng-repeat="candidate in vm.candidates" value="{{candidate.configId}}">{{candidate.myAddress}}</option>
                                    </select><span class="help-block">Select the adapter</span>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="form-group col-md-12">
                                    <button type="button" ng-click="vm.Dialog.adapters.add(vm.dialog)" class="btn btn-default">Link adapter to dialog</button>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </div>
                        </div>
                        <hr>
                        <fieldset>
                          <legend>Linked Adapters</legend>
                          <p ng-hide="(vm.adapters | filterAdapters: vm.dialog).length &gt; 0">There are no adapters linked to this dialog yet.</p>
                          <table ng-show="(vm.adapters | filterAdapters: vm.dialog).length &gt; 0" class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>Adapter</th>
                                <th>Type</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="adapter in vm.adapters | filterAdapters: vm.dialog">
                                <th>{{adapter | translateAdapterAddress}}</th>
                                <th>{{adapter | translateAdapterType}}</th>
                                <th><a ng-click="vm.Dialog.adapters.remove(adapter)">Remove link</a></th>
                              </tr>
                            </tbody>
                          </table>
                        </fieldset>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>