<div role="navigation" ng-controller="user" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">ASK Developer Center</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">DASHBOARD</a></li>
        <li><a href="#">DEVELOPER TOOLS</a></li>
        <li><a href="#">HELP</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{ user.name }}</a></li>
        <li><a ng-click="logout()">LOGOUT</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="wrap">
  <div class="container-fluid">
    <section id="home">
      <div class="container-fluid">
        <div id="sub-header" class="row">
          <div class="col-md-12 text-center">
            <p>Hurray! Here is your dashboard designed specially for you</p>
          </div>
        </div>
        <div id="info-box" class="row">
          <div class="col-md-6 col-md-push-3 text-center">
            <p>
              Trial version is a sandbox that is designed for you to understand the capabilities
              of our service. If you are convinced, Let us prepare your account to be used in real
              life.
            </p>
            <button href="#" class="btn btn-primary">Upgrade</button>
          </div>
        </div>
        <div id="widgets" class="row">
          <div class="col-md-6">
            <div class="widget widget-left">
              <div class="inner">
                <header>
                  <h2>Debugger</h2>
                </header>
                <section>
                  <p>Some section information.</p>
                </section>
              </div>
            </div>
            <div class="widget widget-left">
              <div class="inner">
                <header>
                  <h2>Debugger</h2>
                </header>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="widget widget-right">
              <div class="inner">
                <header>
                  <h2>Debugger</h2>
                </header>
              </div>
            </div>
            <div class="widget widget-right">
              <div class="inner">
                <header>
                  <h2>Debugger</h2>
                </header>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>