<div role="navigation" ng-controller="user" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#/dashboard" class="navbar-brand">ASK Developer Center</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="{{(current == &quot;/dashboard&quot;) &amp;&amp; &quot;active&quot;}}"><a href="#/dashboard">DASHBOARD</a></li>
        <li class="{{(current == &quot;/developer&quot;) &amp;&amp; &quot;active&quot;}}"><a href="#/developer">CONFIGURATION</a></li>
        <li class="{{(current == &quot;/logs&quot;) &amp;&amp; &quot;active&quot;}}"><a href="#/logs">LOGS</a></li>
        <li class="{{(current == &quot;/uselogs&quot;) &amp;&amp; &quot;active&quot;}}"><a href="#/uselogs">COSTS</a></li>
        <!--li(class='{{(current == "/help") && "active"}}')-->
        <!--  a(href='#/help') HELP-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="{{(current == &quot;/credits&quot;) &amp;&amp; &quot;active&quot;}}"><a href="#/credits">CREDITS: &nbsp {{user.credits | ownCurrency:"&euro;"}} </a></li>
        <li class="{{(current == &quot;/profile&quot;) &amp;&amp; &quot;active&quot;}}"><a href="#/profile">{{user.name}}</a></li>
        <li><a ng-click="logout()">LOGOUT</a></li>
      </ul>
    </div>
  </div>
</div>