<navbar></navbar>
<div id="wrap">
  <div class="container-fluid">
    <section id="profile">
      <div class="container-fluid">
        <div id="sub-header" class="row">
          <div class="col-md-12 text-center">
            <!--p Hurray! Here is your dashboard designed specially for you-->
          </div>
        </div>
        <div id="widgets" class="row">
          <div class="col-md-12">
            <div class="widget">
              <div class="inner">
                <header>
                  <h2>Profile information</h2>
                </header>
                <section>
                  <dl>
                    <dt>Name</dt>
                    <dd>{{user.name}}</dd>
                    <dt>Credits</dt>
                    <dd>{{user.credits | ownCurrency:"&euro;" }}</dd>
                    <dd ng-if="config.feature.payments !== true">If you would like to buy credits please send an email to <a href="mailto:sales@ask-fast.com">sales@ask-fast.com</a></dd>
                    <dd ng-if="config.feature.payments === true">Go to <a href="#/credits">credits </a>to buy extra credits</dd>
                    <dt>Account Type</dt>
                    <dd>{{user.accountType | accountType}}</dd>
                    <dt>User name</dt>
                    <dd>{{user.userName}}</dd>
                    <dt>Phone number</dt>
                    <dd user-contact="user.contactInfos" type="PHONE"></dd>
                    <dt>Email</dt>
                    <dd user-contact="user.contactInfos" type="EMAIL"></dd>
                    <dt>Account created</dt>
                    <dd>{{user.creationTime | parseTimeStamp}}</dd>
                  </dl>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>