<navbar></navbar>
<div id="wrap">
  <div class="container-fluid">
    <section id="home">
      <div class="container-fluid">
        <div id="sub-header" class="row">
          <div class="col-md-12 text-center">
            <p>Hurray! Here is your dashboard designed specially for you</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-push-3 text-center">
            <p>Profile</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>