<form>
  <div class="form-group">
    <label for="destination{{::subject}}">To address </label>
    <input id="destination{{::subject}}" type="text" ng-model="destination" class="form-control">
  </div>
  <div class="form-group">
    <label for="dialog{{::subject}}"> Dialog </label>
    <div class="form-inline">
      <select id="dialog{{::subject}}" class="form-control" ng-model="url" ng-options="dialog.url as dialog.name for dialog in dialogs">
        <option value=""> -- no dialog attached -- </option>
      </select>
      <a href="/#/developer" class="btn btn-default">Create dialog</a>
    </div>
  </div>
  <div class="form-group">
    <label for="adapter{{::subject}}"> From number </label>
    <select id="adapter{{::subject}}" class="form-control" ng-model="origin" ng-options="'Type: '+item.adapterType+'  number: '+item.myAddress for item in adapters">
      <option value=""> -- use default number -- </option>
    </select>
  </div>
  <div class="form-group">
    <a class="btn btn-default" ng-click="submit(destination, url, origin)">{{::action}} {{::subject}}</a>
  </div>
</form>
