navbar

#wrap
  .container-fluid
    section#credits
      .container-fluid

        #sub-header.row
          .col-md-12.text-center
            //p Hurray! Here is your dashboard designed specially for you

        #widgets.row
          .col-md-12
            .widget
              .inner
                header
                  h2 Credits information
                section
                  div(ng-hide="info")
                    h4 {{infomessage}}
                  dl
                    dt Credits
                    dd {{user.credits | currency:"&euro;" }}
                  div(ng-hide="PayPal")
                    a(href="{{paypallink}}")
                      img(src="https://www.paypalobjects.com/webstatic/en_US/developer/docs/lipp/loginwithpaypalbutton.png")
                  div
                    button(ng-click="paymentform()",ng-hide="creditButton" ) Buy extra credits
                    form(ng-hide="creditForm")
                      dt How many credits would you like to buy?
                      select(ng-model="order.amount")
                        option € 10
                        option € 20
                        option € 30
                        option € 40
                        option € 50
                        option € 50
                        option € 60
                        option € 70
                        option € 80
                        option € 90
                        option € 100
                      br
                      br
                      dt  Payment method
                      select(ng-repeat="method in methods", ng-model="order.method",value="")
                        option {{method.type}}
                      br
                      br
                      button(ng-click="proceedToCheckOut()", ng-hide="checkoutButton") Go to checkout
                      label(ng-hide="buyButton") Are you sure you want to by € {{order.amount}}
                      br
                      button(type="submit", ng-click="buycredits( order )", value="Save",ng-hide="buyButton") Yes i am sure 
                      button(ng-click="abortSale()", ng-hide="buyButton") No i do not want to buy
          .col-md-12
            .widget
              .inner
                header
                  h2 Payment history
                section
                  div(ng-hide="loading")
                    table.table.table-striped(datatable="ng", dt-options="dtOptions",dt-column-defs="dtColumnDefs")
                      thead
                        tr
                          th Date
                          th Amount
                          th Payment method
                          th Status
                          th Description
                      tbody
                        tr(ng-repeat="payment in payments")
                          td
                             | {{payment.creationDate | date:'yyyy-MM-dd HH:mm:ss'}}
                          td
                             | {{payment.amount |  currency:"&euro;"}}
                          td
                             | {{payment.type | paymentType }}
                          td
                             | {{payment.status}}
                          td
                             | {{payment.description}} 
                section(ng-show="loading")
                    dt Hold on loading your records ...
              //
                header
                  h2 Credits information
                section()
                    div
                      table.table.table-striped(datatable="ng", dt-options="dtOptions",dt-column-defs="dtColumnDefs")
                        thead
                          tr
                            th Time stamp
                            th Type
                            th Cost
                            th Duration
                            th To
                            th status
                        tbody
                          tr(ng-repeat="log in logs")
                            td 
                                | {{log.start | date:'yyyy-MM-dd HH:mm:ss'}}
                            td
                                | {{log.adapterName | mediumToType }}
                            td
                                | {{log.totalCost}}
                            td
                                | {{getDuration(log.duration)}}
                            td
                                ul
                                    li(ng-repeat="(key, val) in log.statusPerAddress")
                                        | {{getPropperAdress(key)}}
                            td
                                ul
                                    li(ng-repeat="(key, val) in log.statusPerAddress")
                                        | {{val}}      
                section(ng-show="loading")
                    p Hold on loading your records ...
                  
