navbar

#wrap
  .container-fluid
    section#credits
      .container-fluid

        #sub-header.row
          .col-md-12.text-center
            //p Hurray! Here is your dashboard designed specially for you

        #widgets.row
          .col-md-12
            .widget
              .inner
                header
                  h2 Credits information
                section
                  dl
                    dt Credits
                    dd {{user.credits | currency:"&euro;" }}
                    dd If you would like to buy credits please send an email to sales@ask-fast.com
          .col-md-12
            .widget
              .inner
                header
                  h2 Credits information
                section(ng-hide="loading")
                    div
                      table.table.table-striped
                        thead
                          tr
                            th Start
                            th Medium
                            th Cost
                            th Duration
                            th To
                            th status
                        tbody
                          tr(ng-repeat='log in logs| filter: filtered | orderBy:ordered : reversed')
                            td 
                                | {{log.start | date:'yyyy-MM-dd HH:mm:ss'}}
                            td
                                | {{log.adapterName}}
                            td
                                | {{log.totalCost}}
                            td
                                | {{log.duration}}
                            td
                                ul
                                    li(ng-repeat="(key, val) in log.statusPerAddress")
                                        | {{key}}
                            td
                                ul
                                    li(ng-repeat="(key, val) in log.statusPerAddress")
                                        | {{val}}
                
                section(ng-show="loading")
                    p Hold on loading your records ...
                    
                     