navbar

#wrap
  .container-fluid
    section#dashboard
      .container-fluid

    #widgets.row
          .col-md-6

            .widget.widget-left
              .inner
                header
                  h2 API Keys
                  span For creating a dialog, you will need public private keys.
                section
                  form(role='form')
                  .form-group
                    label(for='accountID') Account ID
                    input#publicKey.form-control(type='text',
                    ng-model='keys.accountId')
                  .form-group
                    label(for='userKey') Your key
                    input#userKey.form-control(type='text',
                    ng-model='keys.refreshToken')
                    .help-block Please do not share your private key with other people.
                  button.btn.btn-default(type='button') Dialog Manager


            .widget.widget-left
              .inner
                header
                  h2 Debugger
                section
                  p Some section information.

          .col-md-6
            .widget.widget-right
              .inner
                header
                  h2 Document Center
                  span Documents
                section
                  ul
                    li: a(href='') Introduction to SMS sending
                    li: a(href='') Testing credentials
                    li: a(href='') Request types
                  button.btn.btn-default(type='button') More Documents