navbar

#wrap
  .container-fluid
    section#developer
      .container-fluid

        #sub-header.row
          .col-md-12.text-center
            ul
              li

        .row
          .col-md-12
            p
              | Developer