navbar

#wrap
  .container-fluid
    section#help
      .container-fluid

        #sub-header.row
          .col-md-12.text-center
            p Hurray! Here is your dashboard designed specially for you

        .row
          .col-md-12
            p
              | Help