.navbar.navbar-inverse.navbar-fixed-top(role='navigation',
ng-controller='user')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button',
      data-toggle='collapse',
      data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#/dashboard') ASK Developer Center
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li(class='{{(current == "/dashboard") && "active"}}')
          a(href='#/dashboard') DASHBOARD
        li(class='{{(current == "/developer") && "active"}}')
          a(href='#/developer') DEVELOPER TOOLS
        li(class='{{(current == "/logs") && "active"}}')
          a(href='#/logs') LOGS
        li(class='{{(current == "/uselogs") && "active"}}')
          a(href='#/uselogs') USE LOGS
        //li(class='{{(current == "/help") && "active"}}')
        //  a(href='#/help') HELP
      ul.nav.navbar-nav.navbar-right
        li(class='{{(current == "/credits") && "active"}}')
          a(href='#/credits') CREDITS: &nbsp {{user.credits | ownCurrency:"&euro;"}} 
        li(class='{{(current == "/profile") && "active"}}')
          a(href='#/profile') {{user.name}}
        li
          a(ng-click='logout()') LOGOUT
