navbar

#wrap
  .container-fluid
    section#home
      .container-fluid

        #sub-header.row
          .col-md-12.text-center
            p Hurray! Here is your dashboard designed specially for you

        .row
          .col-md-6.col-md-push-3.text-center
            p
              | Profile