navbar

#wrap
  .container-fluid
    section#profile
      .container-fluid

        #sub-header.row
          .col-md-12.text-center
            //p Hurray! Here is your dashboard designed specially for you

        #widgets.row
          .col-md-12
            .widget
              .inner
                header
                  h2 Profile information
                section
                  dl
                    dt Name
                    dd {{user.name}}
                    dt Credits
                    dd {{user.credits | currency:"&euro;" }}
                    dd If you would like to buy credits please send an email to 
                        a(href='mailto:sales@ask-fast.com') sales@ask-fast
                    dt Account Type
                    dd {{user.accountType | accountType}}
                    dt Status
                    dd {{user.status}}
                    dt User name
                    dd {{user.userName}}
                    dt Phone number
                    dd {{user.phoneNumber}}
                    dt Email
                    dd {{user.email || 'no email is given'}}
                    dt Account created
                    dd {{user.creationTime | parseTimeStamp}}
                    