navbar

#wrap
  .container-fluid
    section#profile
      .container-fluid

        #sub-header.row
          .col-md-12.text-center
            //p Hurray! Here is your dashboard designed specially for you

        #widgets.row
          .col-md-12
            .widget
              .inner
                header
                  h2 Profile information
                section
                  dl
                    dt Name
                    dd {{user.name}}
                    dt Credits
                    dd {{user.credits | currency:"&euro;" }}
                    dd(ng-if="config.feature.payments !== true") If you would like to buy credits please send an email to 
                        a(href='mailto:sales@ask-fast.com') sales@ask-fast.com
                    dd(ng-if="config.feature.payments === true") Go to 
                        a(href='#/credits') credits 
                        | to buy extra credits

                    dt Account Type
                    dd {{user.accountType | accountType}}
                    dt User name
                    dd {{user.userName}}
                    dt Phone number
                    dd(user-contact="user.contactInfos", type="PHONE")
                    dt Email
                    dd(user-contact="user.contactInfos", type="EMAIL")
                    dt Account created
                    dd {{user.creationTime | parseTimeStamp}}
                    
